.navbar{
  background-color: black !important;
}


.navbar-brand{
  color: white !important;
}


.navbar .navbar-toggler{
  
  background-color: white;
}

.nav-link {
  color: white !important;
  position: relative;
  justify-content: right;
}

.nav-link-drop {
  padding-left: 10px;
}

.dropdown-toggle, .dropdown-menu {
  background: black !important;
  border: none;
}

.dropdown-menu a:hover {
  color: green !important;
  background: black !important;
}
